*.mp3 filter=lfs -text
*.MP3 filter=lfs -text
*.zip filter=lfs -text
*.ZIP filter=lfs -text
*.wav filter=lfs -text
*.WAV filter=lfs -text
*.flac filter=lfs -text
*.FLAC filter=lfs -text
*.fbx filter=lfs -text
*.FBX filter=lfs -text
*.tga filter=lfs -text
*.TGA filter=lfs -text
*.jpg filter=lfs -text
*.JPG filter=lfs -text
*.png filter=lfs -text
*.PNG filter=lfs -text
*.exr filter=lfs -text
*.EXR filter=lfs -text
*.gif filter=lfs -text
*.GIF filter=lfs -text
